.App {
  text-align: center;
}
.headerLogo {
  width: 300px;
}
/* .pokecard {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 150px);
  border: solid black 1px;
} */

.pokeCard {
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  width: 230px;
  height: 350px;
}
.topBar {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 10px;
}
.bottomBar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pokeImage img {
  width: 150px;
}
