.App {
  text-align: center;
  background-color: #ffffff;
  font-family: "pokedexfont", sans-serif;
}

@font-face {
  font-family: pokedexfont;
  src: url(/src/PKMN.ttf);
}
.headerLogo {
  margin-top: 15px;
  width: 300px;
}

.pokeForm {
  margin-top: 35px;
}
.pokeForm input {
  width: 210px;
  height: 30px;
  font-size: large;
  font-family: pokedexfont;
  text-decoration: none;
  border: 3px solid #ffcd00;
  outline: 3px solid #356abc;
}
.pokeForm input::placeholder {
  text-align: center;
  font-size: small;
}
/* .pokecard {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 150px);
  border: solid black 1px;
} */

.pokeWrapper {
  margin-top: 65px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}

.pokeCard {
  display: flex;
  flex-direction: column;
  border: 3px solid #ffcd00;
  outline: 3px solid #356abc;
  width: 230px;
  height: 360px;
  background-color: #ffffff;
}

.pokeStats {
  width: 100%;
  margin-bottom: 10px;
}

.name::first-letter,
.attack1::first-letter,
.attack2::first-letter {
  text-transform: uppercase;
}
.name {
  font-weight: bold;
}
.topBar {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 10px;
}
.bottomBar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}
.hp,
.attack,
.defense {
  display: flex;
  justify-content: space-between;
}
.pokeImage img {
  width: 150px;
}
